.expense-list {
  font-family: 'Comic Sans MS';
  max-width: 800px;
  margin: 50px auto;
  padding: 1rem;
  color: #1e1e1e;
}

.expense-list h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.expense-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expense-list li {
  margin-bottom: 1rem;
}
